.header{
    height: 10%;
    width: 100%;
    background-color: rgb(6, 6, 13);
    border:2px dotted black;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
   
}


img {
    height: 100px;
    margin-left: 20px; 
}

.search-container {
   
    padding: 10px;
    color: white;
    text-align: center; 
    width: 700px;
    height: 60px;
  
}

