.header{
    height: 10%;
    width: 100%;
    background-color: rgb(6, 6, 13);
    border:2px dotted black;
    display: flex;
    justify-content: flex-end;
   
}
img{
    margin-right: 650px;
    height: 100px;
    
}
.Movies{
    font-size: 40px;
    margin-right: 300px;
    padding: 15px;
    color: white;
}
