 /* cart-main-container  */
 .cart-main-container {
     width: 100vw;
     height: auto;
     background-color: rgb(255, 255, 255);
     padding-bottom: 20px;
 }

 /*  cart-container  */
 .cart-container {
     width: 100%;
     height: 10vh;
     background-color: black;
     display: flex;
     align-items: center;
     padding: 0;
 }

 /* h1  */
 h1 {

     color: white;

 }

 /* button  */
 button {
     height: 40px;
     width: 600px;
     background-color: white;
     margin-left: 170px;
     border: none;
     cursor: pointer;
     font-size: 16px;
     font-weight: bold;
 }

 /* cart logo  */
 .cart-logo {
     height: 55px;
     width: 100px;
     margin-left: auto;
   
 }

 /* heading */
 .heading {
     color: black;
   
 }

 /* product-container  */
 .product-container {
     width: 85%;
     margin-left: 100px;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     gap: 25px;
     justify-items: center;
     background-color: #2d656b;
     padding: 20px;
     border-radius: 10px;
 }

 /* product-box  */
 .product-box {
     width: 200px;
     height: 300px;
     background-color: #ffffff;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     padding: 10px;
     border-radius: 8px;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
 }

 /* product image */
 .product-image {
     width: 110px;
     height: 100px;
     object-fit: cover;
 }

 /* product price  */
 .product-price {
     font-size: 16px;
     font-weight: bold;
     color: green;
 }

 /* add to cart button  */
 .add-to-cart {
     background-color: black;
     color: white;
     border: none;
     padding: 8px;
     cursor: pointer;
     width: 55%;
     border-radius: 5px;
     margin-right: 90px;
 }

 .add-to-cart:hover {
     background-color: #A9B5DF;
     color: black;
 }